*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #b2d9f7;
}

#cabecalhoPrincipal{
    text-align: center;
    background-color: #487aa1;
    padding: 20px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif   ; 
    font-weight: bolder;
    color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 1px #3d3c3b;
}

#displayPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: auto;
}

#imagemCamisa{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto
}

#descricaoProduto{
   background-color: #7c8071;
   margin: auto;
   width: 400px;
   height: 500px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

#nomeDoProduto{
    padding: 5px 5px 5px 5px;
    background-color: #3d3c3b;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    font-family: open-sans;
    color: #dde3ca;
}

#descricaoDaCamisa{
    background-color: #3d3c3b;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    font-family: open-sans;
    color: #dde3ca;
    font-size: large;
    text-align: left;
}

#preco{
    background-color: #3d3c3b;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    font-family: open-sans;
    color: #dde3ca;
    font-size: xx-large;
}

#botaoDeComprar{
    background-color: #3d3c3b;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: open-sans;
    font-weight: bolder;
    color: #dde3ca;
    font-size: xx-large;
    margin: 0px 40px 0px 40px;
    text-decoration: none;
}

#rodape{
    text-align: center;
    font-size: large;
    background-color: #487aa1;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 1px #3d3c3b;
}